@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Dongle, sans-serif;
    font-weight: 300;
}

/* headings and logo */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
    color: white;
    letter-spacing: 4px;
}
span {
    color: #f9004d;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    padding: 10px 25px;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
    color: #f90046;
    transition: .4s;
}


/* Hero image and cover text*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../css/hero-image.jpg') no-repeat center center;
}

#cover-text, #cover-text h2 {
    color: white;
}

#cover-text {
    position: absolute;
    left: 5%;
    top: 50%;
    width: 300px;
    height: 300px;
}

#cover-text h2 {
    margin: 20px, 0px, 20px;
    font-size: 50px;
}

#cover-text h3 {
    font-size: 25px;
    margin-bottom: 100px;
}